[package]
name = "many-abci"
version = "0.1.0"
edition = "2021"
authors = ["The Lifted Initiative"]
license = "Apache-2.0"
description = ""
readme = "README.md"
homepage = "https://liftedinit.org"
repository = "https://github.com/the-lifted-initiative/many-framework"
keywords = ["cli", "web3", "blockchain", "tendermint", "proto", "crypto", "the-lifted-initiative"]
categories = ["command-line-utilities"]

[[bin]]
name = "many-abci"
doc = false

[dependencies]
async-trait = "0.1.51"
ciborium = { git = "https://github.com/enarx/ciborium" }
clap = { version = "3.0.0", features = ["derive"] }
coset = "0.3"
hex = "0.4.3"
lazy_static = "1.4.0"
minicbor = { version = "0.12.0", features = ["derive", "std"] }
many = { git = "https://github.com/the-lifted-initiative/many-rs.git", rev = "c80f6314957bc0d7b084c883367bc012b5d473f7" }
many-client = { git = "https://github.com/the-lifted-initiative/many-rs.git", rev = "c80f6314957bc0d7b084c883367bc012b5d473f7" }
reqwest = "0.11.6"
sha2 = "0.10.1"
signal-hook = "0.3.13"
smol = "1.2.5"
tendermint = { git = "https://github.com/informalsystems/tendermint-rs.git" }
tendermint-abci = { git = "https://github.com/informalsystems/tendermint-rs.git" }
tendermint-rpc = { git = "https://github.com/informalsystems/tendermint-rs.git", features = [ "http-client" ] }
tendermint-proto = { git = "https://github.com/informalsystems/tendermint-rs.git" }
tokio = { version = "1.13.0", features = [ "full" ] }
tracing = "0.1.28"
tracing-subscriber = "0.2.24"
