[package]
name = "ledger"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "ledger"
doc = false

[dependencies]
clap = { version = "3.0.0", features = ["derive"] }
crc-any = "2.4.0"
derive_builder = "0.10.2"
merk = { git = "https://github.com/liftedinit/merk.git", rev = "8bbff1dd2fbc8ed550263482870e740e63e30142" }
hex = "0.4.3"
humantime = "2.1.0"
indicatif = "0.16.2"
lazy_static = "1.4.0"
minicbor = { version = "0.12.0", features = ["derive", "std"] }
num-bigint = "0.4.3"
many = { git = "https://github.com/liftedinit/many-rs.git", rev = "c80f6314957bc0d7b084c883367bc012b5d473f7" }
many-client = { git = "https://github.com/liftedinit/many-rs.git", rev = "c80f6314957bc0d7b084c883367bc012b5d473f7" }
regex = "1.5.4"
ring = "0.17.0-alpha.10"
rpassword = "6.0"
tracing = "0.1.29"
tracing-subscriber = "0.3.3"
tokio = { version = "1.12.0", features = [ "full" ] }
