[package]
name = "ledger"
version = "0.1.0"
edition = "2021"
authors = ["The Lifted Initiative"]
license = "Apache-2.0"
description = ""
readme = "README.md"
homepage = "https://liftedinit.org"
repository = "https://github.com/the-lifted-initiative/many-framework"
keywords = ["cli", "web3", "blockchain", "tendermint", "proto", "crypto", "the-lifted-initiative"]
categories = ["command-line-utilities"]

[[bin]]
name = "ledger"
doc = false

[dependencies]
clap = { version = "3.0.0", features = ["derive"] }
crc-any = "2.4.0"
derive_builder = "0.10.2"
fmerk = { git = "https://github.com/hansl/fmerk" }
hex = "0.4.3"
lazy_static = "1.4.0"
minicbor = { version = "0.12.0", features = ["derive", "std"] }
num-bigint = "0.4.3"
many = { git = "https://github.com/the-lifted-initiative/many-rs.git", rev = "adbb9cdd242e19f828c888337423b2dcb1824f3c" }
many-client = { git = "https://github.com/the-lifted-initiative/many-rs.git", rev = "adbb9cdd242e19f828c888337423b2dcb1824f3c" }
regex = "1.5.4"
ring = "0.17.0-alpha.10"
rpassword = "6.0"
tracing = "0.1.29"
tracing-subscriber = "0.3.3"
tokio = { version = "1.12.0", features = [ "full" ] }
