[package]
name = "many-ledger"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "many-ledger"
doc = false

[dependencies]
async-trait = "0.1.51"
clap = { version = "3.0.0", features = ["derive"] }
fixed = "1.11.0"
flate2 = "1.0.23"
fmerk = { git = "https://github.com/hansl/fmerk" }
hex = "0.4.3"
itertools = "0.10.3"
lazy_static = "1.4.0"
num-bigint = "0.4.3"
num-traits = "0.2.14"
minicbor = { version = "0.12.0", features = ["derive", "std"] }
many = { git = "https://github.com/l-1-labs/many-rs.git", rev = "b8c6e89e23030e592d9820f7498a58d522cbaf88", features = ["pem", "raw"] }
many-abci = { path = "../many-abci" }
many-kvstore = { path = "../many-kvstore" }
rand = "0.8.5"
serde = "1.0.130"
serde_json = "1.0.72"
sha3 = "0.9.1"
simple_asn1 = "0.5.4"
tar = "0.4.38"
tracing = "0.1.28"
tracing-subscriber = "0.2.24"
typenum = "1.15.0"

[dev-dependencies]
many = { git = "https://github.com/l-1-labs/many-rs.git", rev = "b8c6e89e23030e592d9820f7498a58d522cbaf88" }
many-client = { git = "https://github.com/l-1-labs/many-rs.git", rev = "b8c6e89e23030e592d9820f7498a58d522cbaf88" }
tempfile = "3.3.0"

